{% extends "base.html" %} {% block content %}
<div class="row row-cols-md-5 text-center justify-content-center">
  {% if cars %} {% for car in cars %}
    <div class="card ml-3 mb-4">
      {% if car.photo.url != None %}
      <img src="{{ car.photo.url }}" class="card-img-top" 
        style="width: 100%; height: 25vh; object-fit: cover;"  alt="{{ car.model }} - {{ car.brand }}" />
      {% else %}
      <img src="/media/cars/sem_imagem.jpg" class="card-img-top"
        style="width: 100%; height: 25vh; object-fit: cover;" alt="sem imagem" />
      {% endif %}
      <div class="card-body flex-none overflow-auto">
        <h2 class="card-title pricing-card-title">{{ car.brand }} {{ car.model }}</h2>
        <p class="card-text">{{ car.factory_year }} - R$ {{ car.value }}</p>
        <a href="{% url 'car_detail' car.pk %}" class="btn btn-primary">Ver detalhes</a>   
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="no-results">Nenhum carro encontrado.</div>
  {% endif %}
</div>
{% endblock %}
